#ninetyDeg {
  z-index: 100;
  position: absolute;
  top: 60px;
  left: 50px;
}

#onehundretEightyDeg {
  z-index: 100;
  position: absolute;
  top: 100px;
  left: 50px;
}

#minusNinetyDeg {
  z-index: 100;
  position: absolute;
  top: 140px;
  left: 50px;
}

#minusOnehundretEightyDeg {
  z-index: 100;
  position: absolute;
  top: 180px;
  left: 50px;
}

body {
  width: 1920px;
  height: 1080px;
}

canvas {
  display: block;
}